<h1>Angular 12 -- installed</h1>
<h1>Angular 13 -- installed</h1>
<h1>Angular 14 -- installed</h1>
<h1>Angular 15 -- installed</h1>
<h1>Angular 16 -- installed</h1>
<hr />

<apx-chart
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [labels]="chartOptions.labels"
  [responsive]="chartOptions.responsive"
></apx-chart>
<hr />


<button (click)="showSpinner()">Show Spinner</button>
<button (click)="hideSpinner()">Hide Spinner</button>
<ngx-spinner name="san" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#3c90df" type="ball-clip-rotate-multiple">
  <p style="color: #3c90df"> Loading... </p>
</ngx-spinner>
<hr />

<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
<hr />

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="10px">

  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap.gt-sm="10px">
    <mat-form-field appearance="outline">
      <mat-label>Field Number 1</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Field Number 2</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap.gt-sm="10px">
    <mat-form-field appearance="outline">
      <mat-label>Field Number 3</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Field Number 4</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<hr />

<div fxLayout="column" fxLayout.lt-md="row" fxLayoutGap.gt-sm="10px">
  <div fxLayout="row" fxLayout.lt-md="row" fxLayoutGap.gt-sm="10px">
    <mat-form-field appearance="outline">
      <mat-label>Field Number 1</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Field Number 2</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayout.lt-md="row" fxLayoutGap.gt-sm="10px">
    <mat-form-field appearance="outline">
      <mat-label>Field Number 3</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Field Number 4</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<hr />

<div class="container-column">
  <div fxFlex="30%">Dummy Div 1</div>
  <div fxFlex="30%">Dummy Div 2</div>
  <div fxFlex="30%">Dummy Div 3</div>
</div>

<div class="container-row">
  <div fxFlex="30%">Dummy Div 1</div>
  <div fxFlex="30%">Dummy Div 2</div>
  <div fxFlex="30%">Dummy Div 3</div>
</div>