<h1>Angular 12 -- installed</h1>
<hr />

<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="10px">
  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap.gt-sm="10px">
    <mat-form-field appearance="outline">
      <mat-label>Field Number 1</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Field Number 2</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap.gt-sm="10px">
    <mat-form-field appearance="outline">
      <mat-label>Field Number 3</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Field Number 4</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
----------------------------------------------------
<div fxLayout="column" fxLayout.lt-md="row" fxLayoutGap.gt-sm="10px">
  <div fxLayout="row" fxLayout.lt-md="row" fxLayoutGap.gt-sm="10px">
    <mat-form-field appearance="outline">
      <mat-label>Field Number 1</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Field Number 2</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayout.lt-md="row" fxLayoutGap.gt-sm="10px">
    <mat-form-field appearance="outline">
      <mat-label>Field Number 3</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Field Number 4</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of [1, 2, 3, 4, 5, 6]" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="container-column">
  <div fxFlex="30%">Dummy Div 1</div>
  <div fxFlex="30%">Dummy Div 2</div>
  <div fxFlex="30%">Dummy Div 3</div>
</div>

<div class="container-row">
  <div fxFlex="30%">Dummy Div 1</div>
  <div fxFlex="30%">Dummy Div 2</div>
  <div fxFlex="30%">Dummy Div 3</div>
</div>

